body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #3498db;
    padding: 10px;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-button a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}

main {
    margin: 20px;
}

h1, h2 {
    color: #3498db;
}

.scrollable-list {
    max-height: 300px;
    overflow-y: auto;
}

.system-item {
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}
