{extends '../@layout.latte'}
{block content}
    <h1>Přidání nového typu zařízení</h1>
    {control createDeviceType}
    <button id="showDevices"><a href="{link Systeminfo:showDevices, $systemId}">Zpět na seznam zařízení</a></button>
{/block}